{% if alertPR is defined %}
    <div class="alert alert-{{alertPR.type}}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{alertPR.message}}
    </div>
{% endif %}