<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Creacion de horarios{% endblock %}</title>
        <meta name="description" content="Creacion de horarios">
        <meta name="author" content="Carlos A. Ortiz - Jaime B. Robles">
        {% block head %}
        {% endblock %}
        {% block stylesheets %}
            <link href="{{ asset('public/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('public/css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>

    <body>        
        {% block modal %}
        {% endblock %}   
        {% block alert %}
        {% endblock %}   
        {% block header %}
            {% include 'CaogHorariosBundle::/general/header.html.twig' %}
        {% endblock %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">{% block body %}{% endblock %}</div>
            <div class="col-md-2"></div>            
        </div>
        {% block footer %}
            {% include 'CaogHorariosBundle::/general/footer.html.twig' %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('public/js/jquery-2.2.4.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('public/js/bootstrap.min.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>